# Solana RPC URL (use devnet for testing)
SOLANA_RPC_URL=https://api.devnet.solana.com
# SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
# SOLANA_RPC_URL=https://solana-mainnet.g.alchemy.com/v2/1BHvBvp-06GFfHOLP7hBng6fgW4QXeb9
# SOLANA_RPC_URL=https://maximum-withered-brook.solana-mainnet.quiknode.pro/c6199748ca178a8294a3d8942e4ecfc1d57df24f


WALLET_PRIVATE_KEY=

PINATA_API_KEY=
PINATA_API_SECRET=
